
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered"style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>KATEGORIAD</th>
    </tr>
    <tr>
        <td>1</td>
        <td>BEYAZ ESYA</td>
    </tr>
    <tr>
        <td>2</td>
        <td>TELEFON</td>
    </tr>
</table>

<button class="btn btn-primary">Yeni Kategori</button>

