@model online_commercial_automation.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfasi</h2>
<br />
<form class="form-group" method="post">

    @Html.LabelFor(x=>x.KategoriAD)
    @Html.TextBoxFor(x=>x.KategoriAD, new {@class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>


</form>
